
    <div class="acadmeylogo" align="center">
    			<img class="lime-acadamy-logo" src="images/logo-academy.svg" alt="">
    </div>
	<div class="col-md-10">
        
		<div class="lime-slogan lime-slogan lime-space-t-m-20 lime-center" >
            <span style="text-align:center">Bring you the best hands-on trainings.</span>	
		</div>
		<p style="text-align:center">
			Valueable year is saved by gaining a solid education at Blocklime Academy. No spoon-feeding. No shortcuts.
            We trim the fat for you and offer practical specialised training on Blockchain and Distributed Ledger 
            Technology. We also know how to have fun while we're at it.
        </p>
            <br>
        <div align="center">
            			<a  class="lime-btn-default lime-btn-default-green" href="#contact" align="center">Contact Us</a>
        </div >
            <br>
        
                        
                         
                        <div id="contact"  class="container" style="background-color: #A4CF25" margin="500px" align="center">
                            <img class="acadamy-building" src="images/academy-icon@2x.svg" alt="">
                  </div>
            
            <div id="contact"  class="container">
          <div class="row">
          	<div class="col-md-6">
          		<div class="lime-center lime-space-b-p-40 lime-space-t-p-40">
          		<h3>Blockchain.A great start.</h3>
          		<p style="text-align:justify">The blockchain technology is incredibly fascinating.It won't be far-fetcched to think of a future which will be built entirely on it.So,what do you need to learn in order to start developing on the blockchain?Which languages will give you the edge?
                At Blocklime Academy, you might just find the answers you are looking for.</p>
          		</div>
          
          	</div>
          	<div class="col-md-6">
          		<div class="lime-center lime-space-b-p-40 lime-space-t-p-40 lime-space-mob-b-m-20">
          			<h3>Getting your hands dirty.</h3>
          			<p style="text-align:justify">Learning to code means getting your hands dirty.There's no way around it.We make sure you learn as you go.</p>
          		</div>
          	</div>
          </div>  
            </div>
                      <hr class="lime-divider">
        
          <div class="row">
          	<div class="col-md-6">
          		<div class="lime-center lime-space-b-p-40 lime-space-t-p-40">

          		</div>
          
          	</div>
          	<div class="col-md-6">
                
          		<div class="lime-right lime-space-b-p-40 lime-space-t-p-40 lime-space-mob-b-m-20">
                    <img class="lime-acadamy-logo" src="images/logo-academy.svg" alt="">
          			<h3>Blockchain Workshop.</h3>
          			<span >Blockchain Bootcamp by Blocklime is the first in a series of intensive workshops held in Dojo, Kuala Lumpur, Malaysia. This 1 day course is designed specifically for software developers, tech experts and Blockchain enthusiasts who wish to get a quick deep dive into coding in the Blockchain platform Ethereum.<br><br>

                        With 30 eager students, we covered 4 main topics: Ethereum Fundamentals, The Development of Ecosystem, Programming in Solidaty and Building A Smart Contract. More information could be found on our Peatix page here..</span>
          		</div>
          	</div>
          </div>  
            </div>

                         
          	
